/* add your CSS here */


.card{
	padding: 10px;
	border: solid gray;	
	width: 440px;
	position:relative;
	left: 50%;
	transform: translateX(-50%);
}

.information{
	width: 300px;
	height: 300px;
	border: solid gray;
}

p.italic{
	font-style: italic;
}

.information ul, .information li{
	list-style: none;
	margin: 0
	padding: 0;
}

span{
	font-weight: bold;
}


